<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= form_tag search_users_path, method: :get do %>
  <%= text_field_tag :name, params[:name] %>
  <%= select_tag :sort_by_created_at, options_for_select([["Tang dan", "asc"], ["Giam dan", "desc"]]) %>
  <%= submit_tag "Search" %>
<% end %>
<%= button_to "export CSv", export_csv_users_path %>
<table id="table-users">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>

<br>
<h2>Alo</h2>
<%= form_for(@user, remote: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

